<footer class="footer footer-style-1">
	<div class="container">
		<div class="widget-wrapper">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="footer-widget">
						<div class="logo">
							<a href="#0"> <img src="../img/images/logo.svg" alt=""> </a>
						</div>
						<p class="desc">
							Best family owned barbecue in West Texas.
							Our goal is to provide quality flavorful food to Odessa and Surrounding areas.
						</p>
						<ul class="socials">
							<li> <a href="https://facebook.com/nickssmokinbsbbq/?ref=page_internal&mt_nav=0"
									target="_blank"> <i class="lni lni-facebook-filled"></i> </a> </li>
							<li> <a href="mailto:nbrown6911@gmail.com"> <i class="lni lni-envelope"></i> </a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
					<div class="footer-widget">
						<h6>Quick Link</h6>
						<ul class="links">
							<li> <a href="/">Home</a> </li>
							<li> <a href="/#reviews">Reviews</a> </li>
							<li> <a href="/menu">Menu</a> </li>
							<li> <a href="/contact">Contact</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-wrapper">
			<p>&copy; Smokin B's BBQ</p>
		</div>
	</div>
</footer>

<script src="js/bootstrap.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/count-up.min.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>


</body>

</html>