<%- include("partials/header") %>

	<div class="hero-section hero-style-5 img-bg"
		style="background-image: url('../../../../img/old/hero/hero-5/hero-bg.svg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="hero-content-wrapper">
						<h2 class="mb-30">404</h2>
						<p class="mb-30">Whoops! We could not find the page specified. Make sure it is spelled
							right.</p>
						</a>
					</div>
				</div>
				<div class="col-lg-6 align-self-end">
					<div class="hero-image">
						<img src="../../../../img/old/hero/hero-5/hero-img.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	</section>

<%- include("partials/footer") %>