<%- include("partials/header") %>

<!-- Header Style 5 -->
<section class="hero-section-wrapper-5 mb-100">
	<div class="hero-section hero-style-5 img-bg"
		style="background-image: url('../../../../img/old/hero/hero-5/hero-bg.svg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="hero-content-wrapper">
						<h2 class="mb-30">Hello, Stranger</h2>
						<p class="mb-30">Stop wasting time and money trying to find good barbecue - you've found it!
							Happiness guaranteed!</p>
						<a href="/menu" class="button button-lg radius-50">Full Menu<i
								class="lni lni-chevron-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-6 align-self-end">
					<div class="hero-image">
						<img src="../../../../img/old/hero/hero-5/hero-img.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="reviews" class="testimonial-section testimonial-style-6">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title text-center mb-60">
					<h2>Real Reviews</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-md-6">
				<div class="single-testimonial">
					<div class="content-wrapper">
						<div class="info">
							<div class="image">
								<img src="../../../../img/images/profile.jpg" alt="">
							</div>
							<div class="text">
								<h6>Aubrey Mayberry</h6>
								<p>Customer</p>
							</div>
						</div>
						<div class="content">
							<p>The best tasting ribs I've had in my entire life. Great family owned company that truly
								cares about the quality of the product they put out. Thanks again guys for another
								amazing meal that i didn't have to cook</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="single-testimonial">
					<div class="content-wrapper">
						<div class="info">
							<div class="image">
								<img src="../../../../img/images/profile.jpg" alt="">
							</div>
							<div class="text">
								<h6>Rosalie Magallanes</h6>
								<p>Customer</p>
							</div>
						</div>
						<div class="content">
							<p>Smokin B’s BBQ was the main entree for my daughter’s quinceañera....she thought it was
								the coolest thing to have a bbq trailer outside of the venue. We had chicken &
								sausage...I was honestly nervous about the chicken (it’s tough to feed good juicy
								chicken to a large group of people at once) but OMG Nick did an outstanding job. We
								received so many compliments on the food!!! The sauce on the sausage was amazing too! I
								highly recommend Smokin B’s BBQ. I will definitely be a repeat customer!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6">
				<div class="single-testimonial">
					<div class="content-wrapper">
						<div class="info">
							<div class="image">
								<img src="../../../../img/images/profile.jpg" alt="">
							</div>
							<div class="text">
								<h6>Jo Carmona-Alvarez</h6>
								<p>Customer</p>
							</div>
						</div>
						<div class="content">
							<p>This is the end to an exhausting, but great weekend! Our son and his team won the
								championship. We catered in Smokin’ B’s BBQ and I highly recommend them! When someone
								that loves what they do, makes it taste so much better! Everything on the menu is
								superb!!! Delish! Delish! Delish!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="prices" class="pricing-section pricing-style-2 mb-10">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
				<div class="section-title text-center mb-60">
					<h3 class="mb-15">Pricing</h3>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-8 col-sm-10">
				<div class="single-pricing">
					<div class="image">
						<img src="../../../../img/images/french-fries.svg" alt="">
					</div>
					<h6>Scratch Sides</h6>
					<h4>Starting at</h4>
					<h3>$ 5.00</h3>
					<ul>
						<li>Carefully Crafted Sides</li>
						<li>Perfectly Cooked</li>
						<li>Great Tasting</li>
						<li>Many Choices</li>
					</ul>
					<a href="/menu" class="button border-button radius-30">Get Started</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-8 col-sm-10">
				<div class="single-pricing active">
					<div class="image">
						<img src="../../../../img/images/meat.svg" alt="">
					</div>
					<h6>Smoked Meats</h6>
					<h4>Starting at</h4>
					<h3>$ 2.00</h3>
					<ul>
						<li>Perfectly Smoked Meat</li>
						<li>Delicious Meat</li>
						<li>Mouthwatering Seasoning</li>
						<li>Ready Any Time You'd Like</li>
					</ul>
					<a href="/menu" class="button radius-30">Get Started</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-8 col-sm-10">
				<div class="single-pricing">
					<div class="image">
						<img src="../../../../img/images/cake.svg" alt="">
					</div>
					<h6>Desserts</h6>
					<h4>Starting at</h4>
					<h3>$ 4.00</h3>
					<ul>
						<li>Great ending to a perfect meal</li>
						<li>Flavourful options</li>
						<li>Sweet flavours</li>
						<li>Great prices</li>
					</ul>
					<a href="/menu" class="button border-button radius-30">Get Started</a>
				</div>
			</div>
		</div>

	</div>
</section>


<%- include("partials/footer") %>