<!DOCTYPE html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>WEBSITE TITLE</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image/x-icon" href="../img/old/favicon.svg" />
	<!-- Place favicon.ico in the root directory -->

	<!-- ========================= CSS here ========================= -->
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/lineicons.css" />
	<link rel="stylesheet" href="../css/tiny-slider.css" />
	<link rel="stylesheet" href="../css/glightbox.min.css" />
	<link rel="stylesheet" href="../css/animate.css" />
	<link rel="stylesheet" href="../css/uikit.css" />
</head>

<body style="background: #E5E5E5">
	<div class="preloader">
		<div class="loader">
			<div class="spinner">
				<div class="spinner-container">
					<div class="spinner-rotator">
						<div class="spinner-left">
							<div class="spinner-circle"></div>
						</div>
						<div class="spinner-right">
							<div class="spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="hero-section-wrapper-5 mb-100">


		<div class="hero-section hero-style-5 img-bg"
			style="background-image: url('../img/old/hero/hero-5/hero-bg.svg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="hero-content-wrapper">
							<h2 class="mb-30">Whoops!</h2>
							<p class="mb-30">You are not allowed to see this page! Please try again later.</p>
							</a>
						</div>
					</div>
					<div class="col-lg-6 align-self-end">
						<div class="hero-image">
							<img src="../img/old/hero/hero-5/hero-img.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<script src="../js/main.js"></script>

</body>

</html>